* {margin: 0; padding: 0;}


body {
  background-color: #222B1A;
}



.topnav {
  background-color: #161716;
  overflow: hidden;
  height: 100px;
}


.topnav a {
  float: left;
  color: #7F0007;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 55px;
  font-family: Oai;
}

.topnav a:hover {
  background-color: #7F0007;
  color: #EDE4C3;}

  .topnav a.active {
  background-color: #7F0007;
  color: #EDE4C3;}

   .logo-image{
    width: 85px;
    height: 85px;
    border-radius: 0;
    overflow: hidden;
    margin-top: -6px;}

  .BigText {top: 25%;
  width: 100%;
  text-align: center;font-family: Granite;color: #EDE4C3;position: absolute;font-size: 75px;}

  .liltext {padding: 10%;
  text-align: center;font-family: Oai;color: #EDE4C3;}

.medtext {text-align: center;font-family: Oai;color: #EDE4C3;font-size: 55px;padding-bottom: 15%;}



.footnav { background-color: #161716;
  overflow: hidden;
  height: 100px;}
.footnav a {
  float: left;
  color: #7F0007;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 55px;
  font-family: Oai;
}

a {text-decoration:none; }

.socialimage{padding-left: 10px;padding-right: 10px;}

.foottext {padding-top: 25px;}

footer {text-align: center;
  padding: 25px;
  background-color: #161716;
  color: #EDE4C3; font-family: Oai;}

    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px; padding: 25px; text-align: center;
    }

.album {padding: 15px;}

h1 {font-size: 45px;font-family: Granite; padding: 15px;}

    @font-face {
  font-family: Punk;
  src: url(PunkrockshowRegular-xP4m.ttf);

}

    @font-face {
  font-family: Granite;
  src: url(Granite-Bgvl.ttf);
}

@font-face {
  font-family: Oai;
  src: url(Oaiyo-q2KW1.otf);
}

@font-face {
  font-family: BR;
  src: url(BlackRusher-z8n1D.ttf);
}