* {margin: 0; padding: 0;}


body {
  background-color: #222B1A;
}



.topnav {
  background-color: #161716;
  overflow: hidden;
  height: 100px;
}

nav {text-align: center;background-color: rgb(0, 21, 255); display: inline; margin: 0 auto;}

.topnav a {
  float: left;
  color: #7F0007;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 55px;
  font-family: Oai;
}

.topnav a:hover {
  background-color: #7F0007;
  color: #EDE4C3;}

  .topnav a.active {
  background-color: #7F0007;
  color: #EDE4C3;}

   .logo-image{
    width: 85px;
    height: 85px;
    border-radius: 0;
    overflow: hidden;
    margin-top: -6px;}

  .BigText {top: 25%;
  width: 100%;
  text-align: center;font-family: Granite;color: #EDE4C3;position: absolute;font-size: 75px;}

  .liltext {padding: 10%;
  text-align: center;font-family: Oai;color: #EDE4C3;}

.medtext {text-align: center;font-family: Oai;color: #EDE4C3;font-size: 55px;padding-bottom: 15%;}

.footnav { background-color: #161716;
  overflow: hidden;
  height: 100px;}
.footnav a {
  float: left;
  color: #7F0007;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 55px;
  font-family: Oai;
}

.socialimage{
    width: 85px;
    height: 85px;
    border-radius: 0;
    overflow: hidden;
    margin-bottom: -6px;}

    @font-face {
  font-family: Punk;
  src: url(PunkrockshowRegular-xP4m.ttf);
}

    @font-face {
  font-family: Granite;
  src: url(Granite-Bgvl.ttf);
}

@font-face {
  font-family: Oai;
  src: url(Oaiyo-q2KW1.otf);
}

@font-face {
  font-family: BR;
  src: url(BlackRusher-z8n1D.ttf);
}