@charset "UTF-8";
/* CSS Document */

body {background-color:bisque; margin:0 10% 10% 10% ; font-family: sans-serif; }
h1 {text-align: center; font-size:4em;}
h2 {text-align: center; color:maroon;}
section {text-align: center;}
button {background-color: crimson;font-size: large;border-color: crimson;}
li {list-style: none;display: inline; margin-right: 15px;}
div.container {
  text-align: center;
  background-color: brown;
}

ul.myUL {
  display: inline-block;
  text-align: left;
}

.posttime{color: rgb(146, 99, 106); font-size: x-small;}

dd{padding-bottom: 20px;}
