body {
  background-color: rgb(194, 161, 161); margin: 10%;
}

h1 {
  color: rgb(40, 1, 1);
  text-align: center;
  font-family: MoonB;
  font-size: 350%;
}

h2 {font-family: Glass; text-align: center;font-size: 200%;color: rgb(45, 7, 7);}

p {font-family: Armo;font-size: 150%;color: rgb(72, 14, 14);border: 40px;padding-left: 20px;padding-right: 20px;}

ul {font-family: MoonB; font-size: 250%;color: rgb(131, 14, 14);}

div { width: 1020px;
  border: 20px solid rgb(128, 0, 0);
  padding: 20px;
  margin: 20px;}

@font-face {
  font-family: Glass; /* set name */
  src: url(Glasskin-nAMBg.ttf); /* url of the font */
}

@font-face {
  font-family: MoonB; /* set name */
  src: url(MoonFlower-YzXXq.ttf); /* url of the font */
}

@font-face {
  font-family: MoonBl; /* set name */
  src: url(MoonFlowerBold-MVppp.ttf); /* url of the font */
}

@font-face {
  font-family: MoonI; /* set name */
  src: url(MoonFlowerItalic-rg33x.ttf); /* url of the font */
}

@font-face {
  font-family: Gio; /* set name */
  src: url(GiovanySignature-KVery.otf); /* url of the font */
}

@font-face {
  font-family:Armo; /* set name */
  src: url(Amored-woVYP.ttf); /* url of the font */
}



a:link {color: blueviolet;}

a:visited {color: brown;}

a:hover {color: cyan;}