body {
  background-color:#f3f3f3; margin: 10%; 
}

h1 {
  color:#250001;
  text-align: center;
  font-family: Glass;
  font: size 150%;
}


#wrapper{padding: 5%;background-color: #f3f3f3;float: left;}

.weekly{width: 45%;float: left; margin: 0 5%;}

#project{width: 45%;float: left;}

dl {color: #250001;size: 17in;font-family: Glass;}

h4 {font-family: Glass;color: #250001;}

h2 {font-family: MoonB; text-align: center;color:#250001;}

@font-face {
  font-family: Glass; /* set name */
  src: url(Glasskin-nAMBg.ttf); /* url of the font */
}

@font-face {
  font-family: MoonB; /* set name */
  src: url(MoonFlower-YzXXq.ttf); /* url of the font */
}

@font-face {
  font-family: MoonBl; /* set name */
  src: url(MoonFlowerBold-MVppp.ttf); /* url of the font */
}

@font-face {
  font-family: MoonI; /* set name */
  src: url(MoonFlowerItalic-rg33x.ttf); /* url of the font */
}

@font-face {
  font-family: Gio; /* set name */
  src: url(GiovanySignature-KVery.otf); /* url of the font */
}



p {
  font-family: Gio;

}

a:link {color: #FCBA04;}

a:visited {color:#A50104;}

a:hover {color:#C16200;}